body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f4f4;
}
.container, .modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.header, .footer, .modal-header, .modal-footer {
    text-align: center;
    padding: 20px;
}
.header, .modal-header {
    background-color: #d52b1e;
    color: white;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
.modal-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #d52b1e;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-button:hover {
    background-color: #b0241e;
}

/* Navigationsstil */
nav {
    background-color: #d52b1e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
}



.image-container {
    text-align: center; /* Zentriert den Inhalt */
    margin: 20px 0; /* Fügt oben und unten einen Abstand hinzu */
}

.image-container img {
    max-width: 100%; /* Stellt sicher, dass das Bild nicht breiter als der Container ist */
    height: auto; /* Behält das Seitenverhältnis des Bildes bei */
}

.image-container p {
    margin-top: 20px; /* Fügt Abstand zwischen dem Bild und dem Text hinzu */
}


.modal-body input[type="text"],
.modal-body input[type="tel"],
.modal-body input[type="email"],
.modal-body select,
.modal-body button {
    width: calc(100% - 20px); /* 100% der Containerbreite, abzüglich des Paddings */
    padding: 12px; /* Mehr Padding für größere Felder */
    margin: 8px 0; /* Abstand zwischen den Feldern */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border innerhalb der Breite enthalten sind */
    font-size: 16px; /* Größere Schriftart für bessere Lesbarkeit */
}

.modal-button {
    padding: 15px 20px; /* Mehr Padding für einen größeren Button */
    font-size: 18px; /* Größere Schrift für den Button-Text */
    border-radius: 5px; /* Optional: Anpassen für abgerundete Ecken */
}



.notification {
    display: none; /* Standardmäßig nicht angezeigt */
    position: fixed; /* Positionierung relativ zum Viewport */
    bottom: 20px; /* Abstand vom unteren Rand */
    left: 50%; /* Zentrierung */
    transform: translateX(-50%); /* Feinjustierung der Zentrierung */
    background-color: #af4c4c; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    padding: 20px; /* Vergrößerter Innenabstand */
    border-radius: 4px; /* Abgerundete Ecken */
    z-index: 1000; /* Stellt sicher, dass die Benachrichtigung über anderen Elementen liegt */
    font-size: 18px; /* Größere Schriftgröße */
    max-width: 80%; /* Maximale Breite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Schatten für bessere Sichtbarkeit */
    line-height: 1.5; /* Verbesserte Zeilenhöhe für bessere Lesbarkeit */
}
