body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f4f4f4;
}
.container, .modal-content {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.header, .footer, .modal-header, .modal-footer {
    text-align: center;
    padding: 20px;
}
.header, .modal-header {
    background-color: #d52b1e;
    color: white;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
.modal-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #d52b1e;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-button:hover {
    background-color: #b0241e;
}

/* Navigationsstil */
nav {
    background-color: #d52b1e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
}